*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  position: relative;
  min-height: 100vh;

}

body a{
  color: white;
  text-decoration:none;
}

/*Navegacion*/

#header {
  width: auto; 
  background-color: #92000A; 
  height: 90px; 
  display: flex; 
  justify-content: space-between; 
  padding-bottom: 10px;
}

#img_logo{
  margin-left: 25px;
}

#logo{
  margin-left: 10px;
}


#nav_re { 
  width: 380px;
}

#nav_ul { 
  display: flex; list-style: none; 
}

/*Navegacion fin*/

/*:::Ventana Modal:::*/
#btn-modal{
  display: none;
}
.container-modal{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(144, 148, 150, 0.603);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#btn-modal:checked ~ .container-modal{
  display: flex;
}
.content-modal{
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
}
.content-modal h2{
  margin-bottom: 15px;
}
.content-modal p{
  padding: 15px 0px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar{
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.content-modal .btn-cerrar label{
  padding: 7px 10px;
  background-color: #a72c2c;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover{
  background-color:#92000A;
}
.cerrar-modal{
  width:100%;
  height: 100vh;
  position: absolute;
  top:0; left: 0;
  z-index: -1;
}
@media screen and (max-width:800px) {
  .content-modal{
      width: 90%;
  }
}
/*:::Fin Ventana Modal:::*/


/* Menu  */
.sidebar{
  position: flex;
  background: #92000A;
  width: 275px;
  height: 90vh;
  left: 0;
  z-index: 1;
}

.menu_nav{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.sidebar h2{
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: #a72c2c;
  padding: 38.5px;
  font-weight: bold;

}

.sidebar ul li {
  margin: 12px 0;
}

.sidebar ul li label{
  cursor: pointer;
}

.sidebar ul li a{
  color: #fff;
  transition: all 0.25s ease;
}

.sidebar ul li a:hover{
  color: #000;
  margin-left: 20px;
}

/*Cerrar Sesión*/

/* Contenido  */

.apart{
  display: flex;
}

.main {
  margin: auto; /* Eliminado para que no centre horizontalmente */
  margin-top: 5rem;
  padding: 5px;
  margin-bottom: 50px;
  margin-left: 50px; /* Añadido margen izquierdo */
}


.main h2{
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}

.p1{
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.main h2{
  margin-top: 50px;
}



/*Botones*/

.boton{
margin-top: 50px;
display: flex;
align-items: center;
justify-content: center;
  border-radius: 33px;
}

#btnav{
width: 200px;
height: 200px;
  background-color: white;
  border-radius: 150px;
  font-family: arial black;
  background-size: cover;
  color: #a72c2c;
  border: 1.5px solid #2e2828;
margin: 20px;
}


#btnav:hover{
  background: #ecd2d2;

}

#btnav img{
width: 150px;
height: 150px;
object-fit: cover;
}

/*Botones Fin*/

/*Footer*/  

#foot{
  background-color: #000; 
  height: 75px; 
  display: flex; 
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2 ;
}

#derechos{
  color: #fff;
  font-size: 22px;
  margin: auto;
  font-family: 'Poppins';
}   

/*Pqrs*/

.pqrs{
  position: absolute;
  position: fixed;
  bottom: 95px;
  right: 50px;
  cursor: pointer;
}

.pqrs i{
  color: #000000;
  font-size: 40px;
  border-radius: 40px;
  overflow: hidden;
  transition: opacity .15s
}   
.check-box{
margin: 10px 11px 15px 0;
}

/*pqrs fin*/